
<form action="/addNote" method="post">
  <div class="form-group">
    <input type="text" name="id" value={{id}} hidden>
    <label for="comments">Comments</label>
    <input type="text" class="form-control" name="comments" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/">Cancel</a>
</form>