{{#each news}}
    <article>
        <button class="addArticle" data-link="{{link}}" data-title="{{title}}">Add Article</button>
        <span>{{title}}</span>
        <a href="{{link}}">link</a>
    </article>
    
{{/each}}
